@import '../../sass/variables';
@import '../../sass/loading-indicator';

.box {
  border: 1px solid lightgrey;
  text-align: center;
  background-color: white;
  border-radius: 9px;
  box-shadow: 2px 2px 4px 0px lightgrey;
  font-family: 'Dosis', sans-serif;
  transition: width 300ms cubic-bezier(0.23, 1, 0.320, 1);
  cursor: pointer;
  margin-bottom: 5px;
  color: #607d8b;
}

.box.small:hover {
  background-color: #EBECF0;
}

.details .task-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
}

.title {
  color: #8bc34a;
  font-family: $normal-titles-josefin;
  padding: 10px;
}

input.title {
    width: 240px;
    margin: auto;
    height: 60px;
    padding: 3px;
    border: 1px solid white;
    box-shadow: inset 0px 1px 2px 1px grey;
    border-radius: 5px;
    font-size: 18px;
    color: #8bc34a;
}

.assignee {
  color: #787878;
  font-style: italic;
  font-weight: 100;
}

.details {
    z-index: 555;
    position: fixed;
    height: 70vh;
    width: 70vw;
    top: calc(50% - 70vh / 2);
    left: calc(30vw /2);
}

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2; 
    cursor: pointer;
}

.close-button {
    transition: all 0.5s ease;
    position: absolute;
    background-color: #ffcc00;
    padding: 1.5px 15px;
    left: 0;
    margin-left: -24px;
    margin-top: -35px;
    border-radius: 50%;
    border: 2px solid #fff;
    color: white;
    -webkit-box-shadow: -4px -2px 6px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: -4px -2px 6px 0px rgba(0,0,0,0.1);
    box-shadow: -3px 1px 6px 0px rgba(0,0,0,0.1);
    font-size: 55px;
}

.close-button:hover {
    background-color: tomato;
    color: #fff;
}

select {
  outline: unset;
  font-size: 40px;
  color: #FFC107;
  background-color: #607d8b;
  border: 3px solid #ffcc00;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 10px;
}

.open-task-link {
  color: white;
  font-size: 18px;
  border-radius: 16px;
  padding: 5px;
  display: inline-block;
  width: 230px;
  background-color: #FF5722;
}